ul {
  list-style-type: none;
  display: inline-block;
  width: 75% !important;
  text-align: center;
}

li {
  display: inline;
  padding-right: 10%;
}

li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: darkslategray;
  background-color: whitesmoke;
}

h2 {
  display: inline-block;
  width: 20%;
  text-align: center;
}

div {
  background-color: darkslategray;
  color: whitesmoke;
}
